
.teams-body-container {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 25px;
  height: 100vh;
}

.teams-container {
    width: 100%;
    background-color: var(--background-color);
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 20px;
    padding-right: 3px;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}