@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

.game-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
  color: rgb(136, 151, 163);
  width: 100%;
}

.game-selector-title {
  font-size: 10px;
  font-family: var(--global-font);
  font-weight: 700;
  margin: 0px 10px;
}

.game-selector-button {
  font-size: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(136, 151, 163);
  margin: 0px 1px;
  padding: 0px 10px;
  font-family: var(--global-font);
  font-weight: 600;
  color: rgb(136, 151, 163);
  margin-bottom: 5px;
}

.game-selector-button:hover {
  cursor: pointer;
  color: var(--riot-blue);
  border-bottom: 2px solid var(--riot-blue);
}


